<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home">Hotel Booking App</span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="title-header">
  <h4>Booking Details: {{bookingDetails.bookingReference}}</h4>
</div>

<div style="margin-top: 40px;margin-left: 20px;" class="row">
  <div class="col-md-8">
    <mat-expansion-panel [expanded]="true" style="margin-left: 20px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5 style="padding: 20px;">HOTEL INFO</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card style="margin-top: 10px;">
        <mat-card-content>
          <div style="margin-top: 20px;" class="row">
            <div class="col-md-3">
              <img class="rounded-hotel-image" [src]="bookingDetails.hotelInfo.imageUrl">
            </div>
            <div class="col-md-9">
              <p style="font-size: 20px;">{{bookingDetails.hotelInfo.hotelName}}</p>
              <div style="margin-top: -10px;font-size: 12px;">
                <mat-icon style="font-size: 16px;" aria-hidden="false" aria-label="Email">location_on</mat-icon>
                {{bookingDetails.hotelInfo.location}}
              </div>
              <div class="rating">
                <span> {{bookingDetails.hotelInfo.rating}} / 5</span>
              </div>
            </div>
          </div>

          <div class="stay-details" class="row">
            <div class="col-md-3">
              <div style="margin-top: 5px;">
                <p style="color:#898b91">Check In</p>
                <h6 style="margin-top: -10px;">{{bookingDetails.checkinDate}}</h6>
                <p style="color:#898b91">02:00 PM</p>
              </div>
            </div>
            <div class="col-md-3">
              <div style="margin-top: 5px;">
                <p style="color:#898b91">Check Out</p>
                <h6 style="margin-top: -10px;">{{bookingDetails.checkoutDate}}</h6>
                <p style="color:#898b91">12:00 PM</p>
              </div>
            </div>
            <div class="col-md-3">
              <div style="margin-top: 5px;">
                <p style="color:#898b91">Guests</p>
                <h6 style="margin-top: -10px;">2 Guest | 1 Room</h6>
                <p style="color:#898b91">1 Night</p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </div>

  <div class="col-md-4">
    <mat-card matRipple style="margin-right: 20px;margin-top: 10px;">
      <mat-card-content>
        <div>
          <h5>PRICE</h5>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>

    <mat-card routerLink="/home" class="home-button">
      <mat-card-content>
        <div class="home-button-div">
          <h6>Back to Home</h6>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<div style="margin-top: 40px;margin-left: 20px;" class="row">
  <div class="col-md-8">
    <mat-card style="margin-left: 20px;margin-top: 10px;">
      <mat-card-content>
        <div>
          <h5>GUEST DETAILS</h5>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: 20px;" class="row">
          <div class="col-md-12">
            <p *ngFor="let guest of bookingDetails.guestDetails.guestNames">{{guest}}</p>
            <p>
              <mat-icon aria-hidden="false" aria-label="Email">email</mat-icon> {{bookingDetails.guestDetails.email}}
            </p>
            <p>
              <mat-icon aria-hidden="false" aria-label="Email">phone_android</mat-icon>
              {{bookingDetails.guestDetails.mobileNo}}
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
