.rating {
  height: 20px;
  width: 50px;
  background-color: #18a160;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.title-header {
  margin-top: 40px;
  margin-left: 20px;
  padding: 5px;
  color: #898b91;
}

.home-button {
  margin-right: 20px;
  margin-top: 10px;
  background-color: #007bff;
  border-radius: 8px;
  cursor: pointer;
}

.home-button-div {
  text-align: center;
  justify-content: center;
  color: #fff;
  font-family: Roboto;
  margin-top: -8px;
  margin-bottom: -10px;
}

.rounded-hotel-image {
  height: 150px;
  width: 175px;
  border-radius: 5px;
}

.stay-details {
  margin: 20px 5px 0px 5px;
  background-color: #eef4fd;
  border-radius: 5px;
}
