<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home">Hotel Booking App</span>
  </mat-toolbar-row>
</mat-toolbar>


<div style="margin-top: 20px;margin-right: 10px;" class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div>
      <h4>Select your hotel</h4>
    </div>
    <mat-card style="background-color: #eef4fd;">
      <mat-card-content>
        <div class="row">
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <div class="filter-chip-div">
              <p *ngIf="filterBadge.length" style="padding: 3px;">{{filterBadge}} <span (click)="filterBadge = ''"
                  class="filter-chip-span">
                  X</span></p>
            </div>
          </div>
          <div class="col-md-2">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Sort By</button>
            <mat-menu #menu="matMenu">
              <button (click)="sortList('LOW')" mat-menu-item>Price low to high</button>
              <button (click)="sortList('HIGH')" mat-menu-item>Price high to low</button>
              <button (click)="sortList('RATING')" mat-menu-item>Rating</button>
            </mat-menu>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div style="margin-top: 20px;" class="row">
  <div class="col-md-3">
    <mat-card style="margin-left: 20px;margin-top: 10px;">
      <mat-card-content>
        <div>
          <h5>FILTERS
            <span>
              <p (click)="resetCheckbox('ALL')" class="resetButton">
                CLEAR</p>
            </span>
          </h5>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: 20px;">
          <h6>Price Range <span>
              <p (click)="resetCheckbox('PRICE')" class="resetButton">RESET</p>
            </span></h6>
          <mat-checkbox [(ngModel)]="checkFilter.price.below100" (ngModelChange)="filterList()">Below
            $100</mat-checkbox><br>
          <mat-checkbox [(ngModel)]="checkFilter.price.btw100500" (ngModelChange)="filterList()">$100 -
            $500</mat-checkbox><br>
          <mat-checkbox [(ngModel)]="checkFilter.price.above500" (ngModelChange)="filterList()">Above
            $500</mat-checkbox><br>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: 20px;">
          <h6>Guest Rating <span>
              <p (click)="resetCheckbox('RATING')" class="resetButton">RESET</p>
            </span></h6>

          <mat-checkbox [(ngModel)]="checkFilter.rating.above4" (ngModelChange)="filterList()">4+
          </mat-checkbox><br>
          <mat-checkbox [(ngModel)]="checkFilter.rating.above3" (ngModelChange)="filterList()">3+
          </mat-checkbox><br>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-9">
    <div *ngIf="displayHotelList.length > 0">
      <mat-card class="card-container" matRipple (click)="bookHotel(hotel)" *ngFor="let hotel of displayHotelList"
        style="margin-right: 20px;margin-top: 10px;">
        <mat-card-content>
          <div class="row">
            <div class="col-md-3">
              <img class="rounded-hotel-image" [src]="hotel.imageUrl" alt="Hotel Image">
            </div>
            <div class="col-md-6">
              <p style="font-size: 20px;">{{hotel.hotelName}}</p>
              <p style="margin-top: -15px;">{{hotel.location}}</p>
              <div *ngFor="let amenity of hotel.amenities" class="amenities">
                <span>{{amenity}}</span>
              </div>
            </div>
            <div class="col-md-3 price-rating-container">

              <div class="rating-container">
                <p class="faded-text m-r-5"> {{hotel.totalReviews}} Reviews</p>
                <p class="rating"> {{hotel.rating}} / 5</p>
              </div>
              <div class="price-container">
                <p class="faded-text line-through">${{hotel.price + 100}}</p>
                <h4>${{hotel.price}}</h4>
                <p class="faded-text">per room / night</p>
              </div>

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="no-match" *ngIf="displayHotelList.length <= 0">
      <h6>No hotel matches filter criteria</h6>
    </div>
  </div>
</div>
