.rating {
  height: 20px;
  width: 50px;
  float: right;
  background-color: #18a160;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.amenities {
  background-color: #eef4fd;
  color: #2276e3;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 12px;
}

.price-rating-container {
  display: flex;
  flex-direction: column;
  place-content: space-between;
  align-items: flex-end;
}

.rating-container {
  display: flex;
  flex-direction: row;
  place-content: flex-start;
  align-items: center;
}

.price-container {
  display: flex;
  flex-direction: column;
  place-content: flex-start;
  align-items: flex-end;
}

.price-container h4 {
  margin-bottom: 0px !important;
}

.price-container p {
  margin-bottom: 0px !important;
}

.faded-text {
  color: #6c757d;
}

.m-r-5 {
  margin-right: 5px;
}

.line-through {
  text-decoration: line-through;
}

.card-container {
  cursor: pointer;
}

.card-container:hover {
  border: 1px solid #3f51b5;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.resetButton {
  float: right;
  font-size: 12px;
  font-weight: 200;
  padding: 5px;
  cursor: pointer
}

.filter-chip-div {
  background-color: #3f51b5;
  color: #fff;
  border-radius: 3px;
}

.filter-chip-span {
  cursor: pointer;
  padding-left: 3px;
}

.rounded-hotel-image {
  height: 150px;
  width: 175px;
  border-radius: 5px;
}

.no-match {
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}
