<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home">Hotel Booking App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div style="margin-top: 40px;margin-left: 20px;padding: 5px; color: #898b91; ">
  <h4>Complete Booking</h4>
</div>


<div style="margin-top: 40px;" class="row">
  <div class="col-md-8">
    <mat-card style="margin-left: 20px;margin-top: 10px;">
      <mat-card-content>
        <div>
          <h5>GUEST DETAILS</h5>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let item of guestData.guestList;let i = index" style="margin-top: 10px;" class="row">
          <div class="col-md-2">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Title</mat-label>
              <mat-select [(ngModel)]="item.title">
                <mat-option value="Mr">Mr</mat-option>
                <mat-option value="Mrs">Mrs</mat-option>
                <mat-option value="Master">Master</mat-option>
                <mat-option value="Miss">Miss</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput [(ngModel)]="item.firstName" placeholder="Given Name">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput [(ngModel)]="item.lastName" placeholder="Family Name / Surname">
            </mat-form-field>
          </div>
          <div class="col-md-1">
            <button *ngIf="i !== 0" style="margin-top: 10px;" (click)="removeGuest(i)" mat-mini-fab color="warn"
              aria-label="Remove Guest">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <p (click)="addGuest()" style="color: #166bd3;cursor: pointer;font-size: 12px;">Add Guest</p>

        <div class="row">
          <div class="col-md-6">
            <p style="color: #898b91; font-size: 12px;margin-bottom: 0px;">(Your booking voucher will be sent to this
              email address)</p>
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput [(ngModel)]="guestData.email" placeholder="Enter email address">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Country Code</mat-label>
              <mat-select [(ngModel)]="countrycode">
                <mat-option value="+60">+60 Malaysia</mat-option>
                <mat-option value="+61">+61 Australia</mat-option>
                <mat-option value="+91">+91 India</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput maxlength="10" [(ngModel)]="guestData.mobileNumber" placeholder="Enter Mobile Number">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card (click)="validateBooking()"
      style="margin-left: 20px;margin-top: 10px;background-color: #2bac36;border-radius: 8px;cursor: pointer;">
      <mat-card-content>
        <div style="text-align: center;justify-content: center;color: #fff;font-family: Roboto;">
          <h5>Book Now</h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-4">
    <!-- <mat-card matRipple style="margin-right: 20px;margin-top: 10px;">
      <mat-card-content>
      </mat-card-content>
    </mat-card> -->
  </div>

</div>
