<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Hotel Booking App</span>
  </mat-toolbar-row>
</mat-toolbar>


<div style="margin-top: 100px;" class="row">
  <div class="col-md-1">
  </div>

  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title><b>Book Now</b></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div style="margin-top: 20px;" class="row">
          <div class="col-md-12">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Where</mat-label>
              <input matInput placeholder="" [(ngModel)]="where" required>
              <mat-hint>e.g - City or Hotel Name</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Stay Duration</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Check-in" [(ngModel)]="checkIn">
                <input matEndDate placeholder="Check-out"[(ngModel)]="checkOut">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>No of Guest</mat-label>
              <input matInput placeholder="" [(ngModel)]="guestNumber" type="number" min="1" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button (click)="bookNow()" color="primary">Search</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-md-2">
  </div>

  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title><b>View Booking</b></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div style="margin-top: 20px;" class="row">
          <div class="col-md-12">
            <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Booking Reference No</mat-label>
              <input matInput placeholder="" [(ngModel)]="bookingReferenceNo" required>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button (click)="viewBooking()" color="primary">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-md-1">
  </div>
</div>
