<div style="width: 100%; height: 100%;" class="card">
  <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
    <i class="checkmark">✓</i>
  </div>
  <h1>Booked Successfully</h1>
  <p style="margin-top: 25px;">Booking Reference ID : ASD342</p>

  <button style="margin-top: 30px;" (click)="goToHome()" class="btn btn-primary">Back to Home</button>
</div>
